apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: order-deployment
spec:
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: yosano/simple-micro-order
        resources:
          requests:
              cpu: 100m
              memory: 64Mi
          limits:
              cpu: 200m
              memory: 128Mi

---

apiVersion: v1
kind: Service
metadata:
  name: order-cluster-ip-service
spec:
  selector:
    app: order
  type: ClusterIP
  ports:
  - name: http
    port: 5000
    targetPort: 3306
