apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: order-mysql-deployment
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      volumes:
        - name: order-mysql-storage
          persistentVolumeClaim:
            claimName: database-persistent-volume-claim
      containers:
        - name: mysql
          image: mysql:5.7.22
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: order-mysql-storage
              mountPath: /var/lib/mysql
          env:
            - name: MYSQLPASSWORD
              valueFrom:
                secretKeyRef:
                    name: mysql-root-password
                    key: MYSQLPASSWORD
            - name: mysql_database
              value: order

---

kind: Service
apiVersion: v1
metadata:
  name: order-mysql-cluster-ip-service
spec:
  selector:
    app: mysql
  type: ClusterIP
  ports:
  - name: 
    port: 3306
    targetPort: 3306

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-persistent-volume-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
