apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: product-deployment
spec:
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
      - name: product
        image: yosano/simple-micro-product
        resources:
          requests:
              cpu: 100m
              memory: 64Mi
          limits:
              cpu: 200m
              memory: 128Mi

---

apiVersion: v1
kind: Service
metadata:
  name: product-cluster-ip-service
spec:
  selector:
    app: product
  type: ClusterIP
  ports:
  - name: http
    port: 5000
    targetPort: 3306