apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: user-deployment
spec:
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
      - name: user
        image: yosano/simple-micro-user
        resources:
          requests:
              cpu: 100m
              memory: 64Mi
          limits:
              cpu: 200m
              memory: 128Mi

---

apiVersion: v1
kind: Service
metadata:
  name: user-cluster-ip-service
spec:
  selector:
    app: user
  type: ClusterIP
  ports:
  - name: http
    port: 5000
    targetPort: 3306
